.page-footer {
  padding-top: 28px;
  padding-bottom: 26px;
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: 700;
  color: $black;
}

.page-footer__social {
  margin-bottom: 45px;
  margin-top: 33px;
  padding: 0;
}
