.page-main__header {
  margin: 0;

  font-size: 18px;
  color: $black;
}

.page-main__intro--catalog {
  margin-bottom: 31px;

  background-image: url("../img/form-backgroud.jpg");
}

.page-main__intro--form {
  margin-bottom: 36px;

  background-image: url("../img/form-backgroud.jpg");
}

.page-main__intro--index {
  margin-bottom: 32px;

  background-image: url("../img/index-background.jpg");
}

.page-main__text {
  margin: 0;
  margin-bottom: 16px;

  line-height: 24px;
}
